.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
.positai
.vscode/


src/*.o
src/*.so
src/*.dll


results/
.results/
Trash/
dev/
ScIGMA.BiocCheck/
inst/


*.txt


!*.tar.gz
!ScIGMA_*.tar.gz
